### INDEXING DATA FRAMES

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#reading the data
data = pd.read_csv('pokemon.csv')
data = data.set_index('#')
data.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
#by using square brackets
data['HP'][1]

45

In [6]:
#by directly entering the column and the row attributes
data.HP[1]

45

In [7]:
# "take the HP column from the 1st row"
data.loc[1, ['HP']]

HP    45
Name: 1, dtype: object

In [8]:
#only selecting the columns
data[['HP', 'Attack']]

     HP  Attack
#
1    45      49
2    60      62
3    80      82
4    80     100
5    39      52
..   ..     ...
796  50     100
797  50     160
798  80     110
799  80     160
800  80     110

[800 rows x 2 columns]

### SLICING THE DATAFRAME

In [9]:
#difference between selecting columns, series and dataframes

print(type(data['HP'])) #series
print(type(data[['HP']])) #dataframes

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [10]:
#slicing and indexing series

data.loc[1:10, 'HP':'Defense'] #select rows from 1 to 10,
                               #and columns from HP to Defense

    HP  Attack  Defense
#
1   45      49       49
2   60      62       63
3   80      82       83
4   80     100      123
5   39      52       43
6   58      64       58
7   78      84       78
8   78     130      111
9   78     104       78
10  44      48       65

In [11]:
data.loc[10:1:-1, 'HP':'Defense'] #rows from 10 to 1, descending by 1

    HP  Attack  Defense
#
10  44      48       65
9   78     104       78
8   78     130      111
7   78      84       78
6   58      64       58
5   39      52       43
4   80     100      123
3   80      82       83
2   60      62       63
1   45      49       49

In [12]:
data.loc[1:10, 'Speed':] #from Speed column to the end

    Speed  Generation  Legendary
#
1      45           1      False
2      60           1      False
3      80           1      False
4      80           1      False
5      65           1      False
6      80           1      False
7     100           1      False
8     100           1      False
9     100           1      False
10     43           1      False

### FILTERING DATA FRAMES

In [13]:
boolean = data.HP > 200
data[boolean]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
122,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
262,Blissey,Normal,NaN,255,10,10,75,135,55,2,False

In [14]:
#combining the filters
first_filter = data.HP > 150
second_filter = data.Speed > 35
data[first_filter & second_filter]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
122,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
262,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
352,Wailord,Water,NaN,170,90,45,90,45,60,3,False
656,Alomomola,Water,NaN,165,75,80,40,45,65,5,False

In [15]:
#column based filtering
data.HP [data.Speed < 15]

#
231     20
360     45
487     50
496    135
659     44
Name: HP, dtype: int64

### TRANSFORMING DATA

In [16]:
#vanilla python functions
def div(n):
  return n/2
data.HP.apply(div)

#
1      22.5
2      30.0
3      40.0
4      40.0
5      19.5
       ...
796    25.0
797    25.0
798    40.0
799    40.0
800    40.0
Name: HP, Length: 800, dtype: float64

In [17]:
#with lambda functions
data.HP.apply(lambda n : n/2)

#
1      22.5
2      30.0
3      40.0
4      40.0
5      19.5
       ...
796    25.0
797    25.0
798    40.0
799    40.0
800    40.0
Name: HP, Length: 800, dtype: float64

In [18]:
#defining column using other columns
data['total_power'] = data.Attack + data.Defense
data.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_power
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,95

### INDEX OBJECTS AND LABELED DATA

In [19]:
#our index name:
print(data.index.name)

#changing it
data.index.name = 'index_name'
data.head()

#

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_power
index_name,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,95

In [20]:
data.head()
data3 = data.copy() #copying data to data3
data3.index = range(100, 900, 1) #making index start from 100
data3.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_power
100,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
101,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
102,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
103,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223
104,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,95

### HIERARCHICAL INDEXING

In [21]:
data1 = data.set_index(['Type 1', 'Type 2']) 
data1.head(100)

                        Name   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
Type 1 Type 2
Grass  Poison      Bulbasaur   45      49       49       65       65     45
       Poison        Ivysaur   60      62       63       80       80     60
       Poison       Venusaur   80      82       83      100      100     80
       Poison  Mega Venusaur   80     100      123      122      120     80
Fire   NaN        Charmander   39      52       43       60       50     65
...                      ...  ...     ...      ...      ...      ...    ...
Poison NaN            Grimer   80      80       50       40       50     25
       NaN               Muk  105     105       75       65      100     50
Water  NaN          Shellder   30      65      100       45       25     40
       Ice          Cloyster   50      95      180       85       45     70
Ghost  Poison         Gastly   30      35       30      100       35     80

               Generation  Legendary  total_power
Type 1 Type 2
Grass  Poison           1      False           98
       Poison           1      False          125
       Poison           1      False          165
       Poison           1      False          223
Fire   NaN              1      False           95
...                   ...        ...          ...
Poison NaN              1      False          130
       NaN              1      False          180
Water  NaN              1      False          165
       Ice              1      False          275
Ghost  Poison           1      False           65

[100 rows x 10 columns]

In [22]:
data1.loc['Fire', 'Flying'] #using indexes to pick up data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

                           Name   HP  Attack  Defense  Sp. Atk  Sp. Def  \
Type 1 Type 2
Fire   Flying         Charizard   78      84       78      109       85
       Flying  Mega Charizard Y   78     104       78      159      115
       Flying           Moltres   90     100       90      125       85
       Flying             Ho-oh  106     130       90      110      154
       Flying       Fletchinder   62      73       55       56       52
       Flying        Talonflame   78      81       71       74       69

               Speed  Generation  Legendary  total_power
Type 1 Type 2
Fire   Flying    100           1      False          162
       Flying    100           1      False          182
       Flying     90           1       True          190
       Flying     90           2       True          220
       Flying     84           6      False          128
       Flying    126           6      False          152

### PIVOTING DATA FRAMES

In [23]:
dic = {'treatment': ['A', 'A', 'B', 'B'],
       'gender': ['F', 'M', 'F', 'M'],
       'response': [10, 45, 5, 9],
       'age': [15, 4, 72, 65]}
df = pd.DataFrame(dic)
df

  treatment gender  response  age
0         A      F        10   15
1         A      M        45    4
2         B      F         5   72
3         B      M         9   65

In [24]:
df.pivot(index = 'treatment',
         columns = 'gender',
         values = 'response')

gender      F   M
treatment
A          10  45
B           5   9

### STACKING AND UNSTACKING DATAFRAME

In [27]:
df1 = df.set_index(['treatment', 'gender'])
df1

                  response  age
treatment gender
A         F             10   15
          M             45    4
B         F              5   72
          M              9   65

In [30]:
#unstacking
df1.unstack(level = 0) #level means the index of the index

          response    age
treatment        A  B   A   B
gender
F               10  5  15  72
M               45  9   4  65

In [29]:
df1.unstack(level = 1)

          response     age
gender           F   M   F   M
treatment
A               10  45  15   4
B                5   9  72  65

In [32]:
df2 = df1.swaplevel(0, 1) #changing index between each other
df2

                  response  age
gender treatment
F      A                10   15
M      A                45    4
F      B                 5   72
M      B                 9   65

### MELTING DATA FRAMES

In [33]:
df

  treatment gender  response  age
0         A      F        10   15
1         A      M        45    4
2         B      F         5   72
3         B      M         9   65

In [34]:
pd.melt(df,
        id_vars = 'treatment',
        value_vars = ['age', 'response'])

  treatment  variable  value
0         A       age     15
1         A       age      4
2         B       age     72
3         B       age     65
4         A  response     10
5         A  response     45
6         B  response      5
7         B  response      9

### CATEGORICAL AND GROUPBY

In [36]:
df

  treatment gender  response  age
0         A      F        10   15
1         A      M        45    4
2         B      F         5   72
3         B      M         9   65

In [38]:
#taking means of other features according to treatment
df.groupby('treatment').mean() #taking average by each treatment

           response   age
treatment
A              27.5   9.5
B               7.0  68.5

In [39]:
#choosing an another feature
df.groupby('treatment').age.max()

treatment
A    15
B    72
Name: age, dtype: int64

In [40]:
#or we can apply multiple features
df.groupby('treatment')[['age', 'response']].min()

           age  response
treatment
A            4        10
B           65         5

In [41]:
df.info()

# we can convert gender to be a categorical data
# which uses less memory and speeds up operations like groupby

#df["gender"] = df["gender"].astype("category")
#df["treatment"] = df["treatment"].astype("category")
#df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   treatment  4 non-null      object
 1   gender     4 non-null      object
 2   response   4 non-null      int64
 3   age        4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes